#tabbrowser-tabs { visibility: collapse !important; }
  
#sidebar-box{
  --uc-sidebar-width: 50px;
  --uc-sidebar-hover-width: 250px;
  --uc-autohide-sidebar-delay: 200ms; /* Wait 0.2s before hiding sidebar */
  --uc-autohide-transition-duration: 100ms;
  --uc-autohide-transition-type: linear;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

#sidebar-splitter{ display: none }

#sidebar-header{
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
}

#sidebar-header::before,
#sidebar-header::after{
  content: "";
  display: flex;
  padding-left: 8px;
}

#sidebar-header,
#sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}
#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header{
  background-color: var(--uc-bg-color, inherit) !important;
  border-inline: 1px;
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}

#fullscr-toggler { background-color: rgba(0, 0, 0, 0) !important; }
:root {
  --uc-bg-color: #1F1D29;
  --uc-show-new-tab-button: none;
  --uc-show-tab-separators: none;
  --uc-tab-separators-color: none;
  --uc-tab-separators-width: none;
  --uc-tab-fg-color: #9BCED7;
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
  --mff-bg: #1F1D29;
  --mff-icon-color: #9BCED7;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #F1CA93;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #EA6F91;
  --mff-tab-font-family: "FiraCode Nerd Font";
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: #9BCED7;
  --mff-tab-selected-bg: #403C58;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: #98c1d9;
  --mff-urlbar-focused-color: #403C58;
  --mff-urlbar-font-family: "Fira Code";
  --mff-urlbar-font-size: 11pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #F1CA93;
  --mff-urlbar-results-font-family: "Fira Code";
  --mff-urlbar-results-font-size: 11pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #98c1d9;
}

#back-button > .toolbarbutton-icon{
  --backbutton-background: transparent !important;
  border: none !important;
  left: 0px;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

/* Options with pixel amounts could need to be adjusted, as this only works for my laptop's display */
/*#titlebar {
  -moz-box-ordinal-group: 0 !important;
} 
*/
.tabbrowser-tab:not([fadein]),
#tracking-protection-icon-container, 
#identity-box {
  display: none !important;
  border: none !important;
}
#urlbar-background, .titlebar-buttonbox-container, #nav-bar, .tabbrowser-tab:not([selected]) .tab-background, .urlbarView{
    background: var(--uc-bg-color) !important;
  border: none !important;
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    box-shadow: none !important;
}
#urlbar-background {
  box-shadow: none !important;
}
.urlbarView-row-inner{
  /* This sets how far the dropdown-items are from window edge */
 padding-inline-start: 6px !important;
}
.urlbarView{
  position: absolute !important;
  border-width: 1px 0;
  top: var(--urlbar-container-height);
}
/*#tabs-newtab-button {
  display: var(--uc-show-new-tab-button) !important;
}*/
.tabbrowser-tab::after {
  border-left: var(--uc-tab-separators-width) solid var(--uc-tab-separators-color) !important;
  display: var(--uc-show-tab-separators) !important;
}
.tabbrowser-tab[first-visible-tab][last-visible-tab]{
  background-color: var(--uc-bar-bg-color) !important;
}
.tab-close-button.close-icon {
  display: none !important;
}
.tabbrowser-tab:hover .tab-close-button.close-icon {
  display: block !important;
}
#urlbar-input {
  text-align: center !important;
}
#urlbar-input:focus {
  text-align: left !important;
}
#urlbar-container {
  margin-left: 3vw !important;
}
.tab-text.tab-label {
  color: var(--uc-tab-fg-color) !important;
}
#navigator-toolbox {
  border-bottom: 0px solid #ea6f91 !important;
  background: var(--uc-bg-color) !important;
}

.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
  color: var(--mff-icon-color)  !important;
}

.urlbar-icon {
  color: var(--mff-icon-color)  !important;
}

.titlebar-spacer {
  display: none;
}